body
{
background-size: cover;
}

.heading{
width: 100%;
text-align: left;
}

.heading h3{
    display: inline;
}

.heading button{
    float: right;
    border: 1px solid white;
}

#start, #status{
    font-size: 22px;
}

.footer{
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    line-height: 4;
    color: purple;
    background-color: lightpink;
}

canvas{
    border: 5px solid red;
}